<div class="container is-fluid">
  <div class="columns">
      <div class="column is-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Master List
              </p>
            </header>
            <div class="card-content">
              <div class="content box has-text-centered">
                <table id="master_list" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                  <thead>
                    <tr>
                      <th>Full Name</th>
                    </tr>
                  </thead>
                  <tbody id="tbody_master_list">
                    <tr>
                      <td>Student 1</td>
                      <td>100%</td>
                    </tr>
                    <tr>
                      <td>Student 1</td>
                      <td>100%</td>
                    </tr>
                    <tr>
                      <td>Student 1</td>
                      <td>100%</td>
                    </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                      <tr>
                        <td>Student 1</td>
                        <td>100%</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <footer class="card-footer">
              <input id="import_master_list" #import_master_list type="file" (change)="onUploadFiles($event)" ng2FileSelect [uploader]="uploader"/>
              <button class="button is-primary card-footer-item" (click)="import_master_list.click()">
                <span class="icon">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </span>
                <span>Import</span>
              </button>
            </footer>
          </div>
      </div>

      <div class="column is-5">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Names
              </p>
              <div class="card-header-icon">
                <span class="icon">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </span>  
              </div>
            </header>
            <div class="card-content">
              <div class="content box has-text-centered">
                <h3 id="display_name">Be ready, your name will be called randomly.</h3>
              </div>
            </div>
            <footer class="card-footer">
              <button class="button is-primary card-footer-item" (click)="onShuffle($event)">
                <span class="icon">
                    <i class="fa fa-random" aria-hidden="true"></i>
                </span>
                <span>
                  Shuffle
                </span>
              </button>
            </footer>
          </div>
      </div>
    
      <div class="column is-3">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Done
              </p>
            </header>
            <div class="card-content">
              <div class="content box has-text-centered">
                <table id="called_list" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody id="tbody_called_list">
                    <tr>
                      <td>Student 1</td>
                      <td>100%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <footer class="card-footer">
                <button class="button is-primary card-footer-item">
                  <span class="icon">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </span>
                  <span>Export</span>
                </button>
            </footer>
          </div>
      </div>
    </div>
</div>  