<nav class="navbar is-primary is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#" style="font-weight:bold;">
          <span>Pick1.com</span>
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="#" class="navbar-item is-active" routerLink="/pick">
            <span>Pick Me</span>
          </a>
          <a href="#" class="navbar-item" routerLink="/pick">
            <span>Group Me</span>
          </a>
          <a href="#" class="navbar-item">
            <span>Feedback</span>
          </a>
        </div>
      </div>
    </div>
</nav>