<nav class="navbar is-primary is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#" style="font-weight:bold;">
          Pick1.com
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="#" class="navbar-item is-active" routerLink="/pick">Pick Me</a>
          <a href="#" class="navbar-item" routerLink="/pick">Group Me</a>
          <a href="#" class="navbar-item">Feedback</a>
        </div>
      </div>
    </div>
</nav>